# CMake generated build files
build
out
cmake-build-*
CMakeFiles
CMakeCache.txt
Makefile
Testing
_deps
*.cmake
*.dir
*.pdb
*.suo
*.user
*.vcxproj*

# Executables and libraries
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
test/srclient-test

# IDE specific files (e.g., CLion, VS Code)
.idea
.vscode
