# CMake generated build files
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*.cmake

# Executables and libraries
srclient-test

# IDE specific files (e.g., CLion, VS Code)
.idea
.vscode
